<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布任务</title>
</head>
<body>
<h1>发布任务界面</h1>

<form method="POST" action="/admin/task">
    <h1>发布任务</h1>

    <label for="subject">主题: </label>
    <input type="text" name="subject" id="subject"/>
    <br/>

    <label>级别: </label>
    <input type="radio" name="level" id="level-A" value="A">A &nbsp;
    <input type="radio" name="level" id="level-B" value="B">B &nbsp;
    <input type="radio" name="level" id="level-C" value="C">C &nbsp;
    <br/>

    <label for="inChargeList">负责人: </label>
    <div id="inChargeList">
        <input type="text" name="inCharge[0].username" id="inCharge0"/>
    </div>
    <button type="button" id="add-btn" onclick="add_div()">+</button>
    <button type="button" id="del-btn" onclick="del_div()">-</button>
    <br/>

    <label for="content">内容: </label>
    <input type="text" name="content" id="content"/>
    <br/>

    <label for="deadline">截止时间: </label>
    <input type="date" name="deadline" id="deadline"/>
    <br/>

    <input type="submit" value="Submit order"/>
</form>

</body>

<script type="text/javascript">
    let inChargeNum = 1;
    function add_div() {
        const inputElement = document.createElement("input");
        inputElement.type="text";
        inputElement.name = "inCharge[" + inChargeNum +"].username";
        inputElement.id="inCharge"+inChargeNum;
        document.getElementById("inChargeList").appendChild(inputElement);
        inChargeNum++;
    }
    function del_div() {
        if (inChargeNum > 1) {
            const id = "inCharge" + (inChargeNum - 1).toString();
            let e = document.getElementById(id);
            document.getElementById("inChargeList").removeChild(e);
            inChargeNum--;
        }
    }
</script>

</html>