<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dispatcher 提交任务</title>
    <link rel="stylesheet" th:href="@{/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/base/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->

    <div th:replace="employee/wrapper::wrapper"></div>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <div th:replace="employee/wrapper::sidebar"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">提交任务</h4>
                                <form class="form-sample" id="form-commit" method="POST" enctype="multipart/form-data"
                                      th:action="@{/employee/task/{taskId}/commit(taskId=${task.id})}"
                                onsubmit="return submit_valid()">
                                    <input type="text" hidden name="taskId" th:value="${task.id}">
                                    <input type="text" hidden name="employeeId" th:value="${employee.id}">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">任务标题</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly name="subject" th:value="${task.subject}"
                                                           class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">提交人</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly th:value="${employee.username}"
                                                           class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">备注</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="message" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">文件上传</label>
                                                <div class="col-sm-9">
                                                    <input id="uploadFile" type="file" name="file" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <input class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                                           type="submit" style="width:150px; height:50px;float: right;"></input>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script type="text/javascript">
    function submit_valid() {
        var fileInput = $('#uploadFile').get(0).files[0];
        console.info(fileInput);
        if(fileInput){
            submit_sure();
        }else{
            alert("请选择上传文件！");
            return false;
        }
    }

    function submit_sure() {
        const gnl = confirm("确定要提交?");
        if (gnl == true) {
            return true;
        }else{
            return false;
        }
    }
</script>
<script th:src="@{/vendors/base/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- inject:js -->
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/hoverable-collapse.js}"></script>
<script th:src="@{/js/template.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script th:src="@{/js/file-upload.js}"></script>
<!-- End custom js for this page-->
</body>
</html>
